html {
    height: 100%;
    width: 100%;
    background-color: black;
}

#board {
    display: flex;
    width: 80vmin;
    flex-wrap: wrap;
    gap:  1vmin;

}

.square{
    width: 25vmin;
    height: 25vmin;
    border: 1px solid white;    background-color: black;
}

.title{
    font-size: larger;
    color: brown;
}

#menu{
    display: flex;
    align-items: center;
    gap: 10vmin;
    color: white;
}

.button{
    background-color: yellow;
    color: black;
    outline: auto;
}